.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerItem svg {
  margin-left: 0.5em;
  font-size: 2.5em;
}

.headerItem svg:hover {
  color: lightblue;
}

.formNewNote p {
  display: flex;
  justify-content: space-between;
  margin-top: 0px;
  margin-bottom: 0.9em;
}

.formNewNote p label {
  font-size: 1.5em;
  font-weight: bold;
}

.formNewNote input {
  width: 100%;
  border-radius: 5px;
  border-color: gray;
  height: 1.5em;
}
.button {
  height: 3em;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  background-color: lightgray;
  border-radius: 5px;
}

.note img {
  width: 15em;
}

.note a {
  color: black;
}
